*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
}

main{
    background-color: bisque;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}

h1{
   background-color: transparent; 
    font-size: 60px;
    color: rgb(255, 58, 58);
}
p{
    background-color: transparent;
}

.archivouno{
    text-align: center;
    padding: 20px;
    text-decoration: none;
}    
